:root {
  --color-b: #000;
  --color-w: #FFF;
  --color-main: #B92770;
  --color-main-gray: #504E4A;
  --color-bg-gray: #EFEFEF;
  --color-bg-light: #F8F8F8;
  --color-footer: #4A4A4A;
  --color-border: #E5E5E5;
  --font-primary: 'Montserrat', sans-serif;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 64px;
  --spacing-xl: 100px;
}

$bp-s: 768px;
$bp-m: 1024px;
$bp-l: 1440px;